
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #4e4e4e;
$darkGray: #383838;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$Karla: 'Karla', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}